org: maciejcorp
app: recipe-scraper
service: recipe-scraper
frameworkVersion: ^4.27.1

provider:
  name: aws
  runtime: python3.13
  stage: prod
  region: eu-north-1
  architecture: arm64
  httpApi:
    name: ${self:service}-${self:provider.stage}
    disableDefaultEndpoint: true
    authorizers:
      cognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl:
          Fn::Join:
            - ""
            - - "https://cognito-idp."
              - ${self:provider.region}
              - ".amazonaws.com/"
              - Fn::ImportValue: RecipeScraperCognitoProd-UserPool
        audience:
          - Fn::ImportValue: RecipeScraperCognitoProd-UserPoolClient
  # domain:
  #   name: ${param:domainName}
  #   basePath: ""
  #   certificateArn: ${env:DOMAIN_CERTIFICATE_ARN}
  #   createRoute53Record: false
  #   createRoute53IPv6Record: false
  #   endpointType: REGIONAL
  #   apiType: http
  #   autoDomain: true
  layers:
    - !Ref SharedLambdaLayer

functions:
  # endpoint handlers
  get-recipe:
    handler: functions/get_recipe/handler.handler
    environment:
      DYNAMO_USER_QUOTA_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-UserQuotaTableName
      RECIPES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableName
    events:
      - httpApi:
          path: /recipe/{recipeId}
          method: get
          authorizer:
            name: cognitoAuthorizer
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:Query
            Resource:
              - !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableArn
              - !ImportValue RecipeScraperPermanentResourcesProd-UserQuotaTableArn
  scrape-recipe:
    handler: functions/scrape_recipe/handler.handler
    events:
      - httpApi:
          path: /recipe/scrape
          method: post
          authorizer:
            name: cognitoAuthorizer
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:Query
            Resource:
              - !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableArn
              - !ImportValue RecipeScraperPermanentResourcesProd-UserQuotaTableArn
          - Effect: Allow
            Action:
              - states:StartExecution
            Resource: ${self:resources.Outputs.ProcessIngredientsStepFn.Value}
          - Effect: Allow
            Action:
              - sns:CreatePlatformEndpoint
            Resource: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}
    environment:
      DYNAMO_USER_QUOTA_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-UserQuotaTableName
      RECIPES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableName
      PROCESS_INGREDIENTS_STEP_FN_ARN: ${self:resources.Outputs.ProcessIngredientsStepFn.Value}
      RECIPE_TTL: ${param:recipeTTL}
      SNS_PLARFORM_APPLICATION_ARN__ANDROID: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}
  parse-result-webhook:
    handler: functions/parse_result_webhook/handler.handler
    events:
      - httpApi:
          path: /ai/webhook
          method: post
    environment:
      DYNAMO_RESPONSES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableName
      AI__API_KEY: ${env:AI_API_KEY}
      AI__BASE_URL: ${param:aiBaseUrl}
      AI__WEBHOOK_SECRET: ${env:AI_WEBHOOK_SECRET}
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableArn
          - Effect: Allow
            Action:
              - states:SendTaskSuccess
              - states:SendTaskFailure
            Resource: ${self:resources.Outputs.ProcessIngredientsStepFn.Value}

  # iternal processing
  assemble-recipe:
    handler: functions/assemble_recipe/handler.handler
    environment:
      RECIPES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableName
      MESSAGES__FILE_KEY: parse-success-notification
      MESSAGES__FILE_BUCKET: ${params:messagesS3Bucket}
      MESSAGES__FILE_BUCKET_KEY: ${params:messagedS3ObjectKey}
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableArn
          - Effect: Allow
            Action:
              - sns:Publish
              - sns:DeleteEndpoint
            Resource: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}
          - Effect: Allow
            Action:
              - s3:GetObject
            Resource: "${params:messagesS3Bucket}/${params:messagedS3ObjectKey}"

  parse-ingredient-start:
    handler: functions/parse_ingredient_start/handler.handler
    environment:
      AI__API_KEY: ${env:AI_API_KEY}
      AI__BASE_URL: ${param:aiBaseUrl}
      AI__MODEL_NAME: ${param:aiModelName}
      PROMPT_ID__PL: ${param:promptIdPL}
      PROMPT_ID__EN: ${param:promptIdEN}
      DYNAMO_RESPONSES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableName
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:PutItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableArn
  parse-ingredient-success:
    handler: functions/parse_ingredient_success/handler.handler
    environment:
      AI__API_KEY: ${env:AI_API_KEY}
      AI__BASE_URL: ${param:aiBaseUrl}
      MAX_RETRY_COUNT: ${param:maxAiParseRetryCount}
      DYNAMO_RESPONSES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableName
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:DeleteItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableArn
  parse-ingredient-fail:
    handler: functions/parse_ingredient_fail/handler.handler
    environment:
      DYNAMO_RESPONSES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableName
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:DeleteItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableArn
  parse-ingr-prep-retry:
    handler: functions/parse_ingredient_prepare_for_retry/handler.handler
    environment:
      DYNAMO_RESPONSES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableName
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-OpenAiResponsesTableArn

  send-failed-notification:
    handler: functions/send_failed_notification/handler.handler
    environment:
      RECIPES_TABLE_NAME: !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableName
      MESSAGES__FILE_KEY: parse-failed-notification
      MESSAGES__FILE_BUCKET: ${params:messagesS3Bucket}
      MESSAGES__FILE_BUCKET_KEY: ${params:messagedS3ObjectKey}
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:UpdateItem
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-RecipesTableArn
          - Effect: Allow
            Action:
              - sns:Publish
              - sns:DeleteEndpoint
            Resource: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}
          - Effect: Allow
            Action:
              - s3:GetObject
            Resource: "${params:messagesS3Bucket}/${params:messagedS3ObjectKey}"
  forward_outofcredits_notif:
    handler: functions/forward_outofcredits_notif/handler.handler
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - sns:Publish
            Resource: !ImportValue RecipeScraperPermanentResourcesProd-OutOfCreditsAdminNotificationEmailTopic
          - Effect: Allow
            Action:
              - s3:GetObject
            Resource: "${params:messagesS3Bucket}/${params:messagedS3ObjectKey}"
    events:
      - sqs:
          arn: !ImportValue RecipeScraperPermanentResourcesProd-OutOfCreditsAdminNotificationQueue
    environment:
      EMAIL_TOPIC_ARN: !ImportValue RecipeScraperPermanentResourcesProd-OutOfCreditsAdminNotificationEmailTopic
      MESSAGES__FILE_KEY: out-of-credits-email
      MESSAGES__FILE_BUCKET: ${params:messagesS3Bucket}
      MESSAGES__FILE_BUCKET_KEY: ${params:messagedS3ObjectKey}

custom:
  step-functions:
    # used within processIngredients state machine definition file
    process-ingredients:
      parseIngredientStartFnName: !Ref ParseDashingredientDashstartLambdaFunction
      parseIngredientFailFnName: !Ref ParseDashingredientDashfailLambdaFunction
      parseIngredientSuccessFnName: !Ref ParseDashingredientDashsuccessLambdaFunction
      assembleRecipeFnName: !Ref AssembleDashrecipeLambdaFunction
      parseIngredientFailNotificationSNSTopic: !ImportValue RecipeScraperPermanentResourcesProd-OutOfCreditsAdminNotificationsTopic
      prepareForRetryFunctionArn: !Ref ParseDashingrDashprepDashretryLambdaFunction
      sendFailNotificationFunctionArn: !Ref SendDashfailedDashnotificationLambdaFunction

  logging:
    logGroupsRetentionInDays: 60

  pythonRequirements:
    useUv: true
    dockerizePip: non-linux

  customDomain:
    domainName: ${param:domainName}
    stage: $default
    basePath: ""
    createRoute53Record: false
    createRoute53IPv6Record: false
    endpointType: REGIONAL
    apiType: http
    autoDomain: true
    certificateArn: ${env:DOMAIN_CERTIFICATE_ARN}

  openapi:
    bucket:
      name: ${param:openapiBucketName}
      key: openapi/openapi-${self:service}-${self:provider.stage}.json
    info:
      title: Recipe importer
      version: v1
      description: An api allowing to scrape a recipe from the web and convert it into a json document

  scriptable:
    hooks:
      after:package:compileEvents:
        - scripts/modify-log-groups-retention.js
        - scripts/generate-openapi.js
      after:aws:deploy:deploy:uploadArtifacts:
        - scripts/upload-openapi-to-bucket.js

stepFunctions:
  stateMachines:
    processIngredients:
      name: ProcessIngredients
      definition: ${file(functions/process_ingredients/stateMachine.asl.yml)}

layers:
  shared:
    path: lib
    compatibleArchitectures:
      - arm64
    compatibleRuntimes:
      - python3.13

resources:
  Description: "CloudFormation functions template for ${self:service}"
  Outputs:
    ProcessIngredientsStepFn:
      Value: !Ref ProcessIngredients

plugins:
  - serverless-step-functions
  - serverless-scriptable-plugin
  - serverless-domain-manager
