org: maciejcorp
app: recipe-scraper
service: recipe-scraper

provider:
  name: aws
  runtime: python3.13
  stage: prod
  region: eu-north-1
  architecture: arm64
  httpApi:
    id: !Ref Gateway
  layers:
    - !Ref SharedLambdaLayer

functions:
  # endpoint handlers
  get-recipe:
    handler: functions/get_recipe/handler.handler
    environment:
      DYNAMO_USER_QUOTA_TABLE_NAME: !Ref UserRequestQuotaTable
      RECIPES_TABLE_NAME: !Ref Recipes
    events:
      - httpApi:
          path: /recipe/{recipeId}
          method: get
          authorizer:
            type: jwt
            id:
              Ref: ApiGatewayAuthorizer
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:Query
            Resource:
              - !GetAtt Recipes.Arn
              - !GetAtt UserRequestQuotaTable.Arn
  scrape-recipe:
    handler: functions/scrape_recipe/handler.handler
    events:
      - httpApi:
          path: /recipe/scrape
          method: post
          authorizer:
            type: jwt
            id:
              Ref: ApiGatewayAuthorizer
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
              - dynamodb:Query
            Resource:
              - !GetAtt Recipes.Arn
              - !GetAtt UserRequestQuotaTable.Arn
          - Effect: Allow
            Action:
              - states:StartExecution
            Resource: ${self:resources.Outputs.ProcessIngredientsStepFn.Value}
          - Effect: Allow
            Action:
              - sns:CreatePlatformEndpoint
            Resource: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}
    environment:
      DYNAMO_USER_QUOTA_TABLE_NAME: !Ref UserRequestQuotaTable
      RECIPES_TABLE_NAME: !Ref Recipes
      PROCESS_INGREDIENTS_STEP_FN_ARN: ${self:resources.Outputs.ProcessIngredientsStepFn.Value}
      RECIPE_TTL: ${param:recipeTTL}
      SNS_PLARFORM_APPLICATION_ARN__ANDROID: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}
  parse-result-webhook:
    handler: functions/parse_result_webhook/handler.handler
    events:
      - httpApi:
          path: /ai/webhook
          method: post
    environment:
      DYNAMO_RESPONSES_TABLE_NAME: !Ref OpenAiResponses
      AI__API_KEY: ${env:AI_API_KEY}
      AI__BASE_URL: ${param:aiBaseUrl}
      AI__WEBHOOK_SECRET: ${env:AI_WEBHOOK_SECRET}
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
            Resource: !GetAtt OpenAiResponses.Arn
          - Effect: Allow
            Action:
              - states:SendTaskSuccess
              - states:SendTaskFailure
            Resource: ${self:resources.Outputs.ProcessIngredientsStepFn.Value}

  # iternal processing
  assemble-recipe:
    handler: functions/assemble_recipe/handler.handler
    environment:
      RECIPES_TABLE_NAME: !Ref Recipes
      NOTIFICATION__BODY: ${param:recipeReadyNotificationBody}
      NOTIFICATION__TITLE: ${param:recipeReadyNotificationTitle}
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:PutItem
            Resource: !GetAtt Recipes.Arn
          - Effect: Allow
            Action:
              - sns:Publish
              - sns:DeleteEndpoint
            Resource: ${env:SNS_ANDROID_PLATFORM_APPLICATION_ARN}

  parse-ingredient-start:
    handler: functions/parse_ingredient_start/handler.handler
    environment:
      AI__API_KEY: ${env:AI_API_KEY}
      AI__BASE_URL: ${param:aiBaseUrl}
      AI__MODEL_NAME: ${param:aiModelName}
      PROMPT_ID__PL: ${param:promptIdPL}
      PROMPT_ID__EN: ${param:promptIdEN}
      DYNAMO_RESPONSES_TABLE_NAME: !Ref OpenAiResponses
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:PutItem
            Resource: !GetAtt OpenAiResponses.Arn
  parse-ingredient-success:
    handler: functions/parse_ingredient_success/handler.handler
    environment:
      AI__API_KEY: ${env:AI_API_KEY}
      AI__BASE_URL: ${param:aiBaseUrl}
      MAX_RETRY_COUNT: ${param:maxAiParseRetryCount}
      DYNAMO_RESPONSES_TABLE_NAME: !Ref OpenAiResponses
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
              - dynamodb:DeleteItem
            Resource: !GetAtt OpenAiResponses.Arn
  parse-ingredient-fail:
    handler: functions/parse_ingredient_fail/handler.handler
    environment:
      DYNAMO_RESPONSES_TABLE_NAME: !Ref OpenAiResponses
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:DeleteItem
            Resource: !GetAtt OpenAiResponses.Arn
  parse-ingr-prep-retry:
    handler: functions/parse_ingredient_prepare_for_retry/handler.handler
    environment:
      DYNAMO_RESPONSES_TABLE_NAME: !Ref OpenAiResponses
    iam:
      inheritStatements: true
      role:
        statements:
          - Effect: Allow
            Action:
              - dynamodb:GetItem
            Resource: !GetAtt OpenAiResponses.Arn

# used within processIngredients state machine definition file
custom:
  parseIngredientStartFnName: !Ref ParseDashingredientDashstartLambdaFunction
  parseIngredientFailFnName: !Ref ParseDashingredientDashfailLambdaFunction
  parseIngredientSuccessFnName: !Ref ParseDashingredientDashsuccessLambdaFunction
  assembleRecipeFnName: !Ref AssembleDashrecipeLambdaFunction
  parseIngredientFailNotificationSNSTopic: !Ref OutOfCreditsAdminNotificationsTopic
  prepareForRetryFunctionArn: !Ref ParseDashingrDashprepDashretryLambdaFunction

  pythonRequirements:
    useUv: true
    dockerizePip: non-linux
    slim: true
    slimPatterns:
      - "**/node_modules"
      - "**/.vscode"
      - "**/.venv"
      - "testing.ipynb"
      - ".env"
      - "**/package.json"
      - "**/package-lock.json"
  customDomain:
    domainName: ${param:domainName}
    stage: prod
    basePath: prod
    createRoute53Record: false
    createRoute53IPv6Record: false
    endpointType: REGIONAL
    apiType: http
    autoDomain: true
    certificateArn: ${env:DOMAIN_CERTIFICATE_ARN}

stepFunctions:
  stateMachines:
    processIngredients:
      name: ProcessIngredients
      definition: ${file(functions/process_ingredients/stateMachine.asl.yml)}

layers:
  shared:
    path: lib
    compatibleArchitectures:
      - arm64
    compatibleRuntimes:
      - python3.13

resources:
  Description: "CloudFormation template for ${self:service}"
  Resources:
    # SNS Topics
    OutOfCreditsAdminNotificationsTopic:
      Type: AWS::SNS::Topic
      Properties:
        FifoTopic: true
        ContentBasedDeduplication: true
        TopicName: OutOfCreditsAdminNotifications.fifo

    # DynamoDB Tables
    Recipes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: Recipes
        AttributeDefinitions:
          - AttributeName: RecipeId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: RecipeId
            KeyType: HASH
        TimeToLiveSpecification:
          AttributeName: ExpiresAt
          Enabled: true

    UserRequestQuotaTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: UserRequestQuota
        AttributeDefinitions:
          - AttributeName: UserId
            AttributeType: S
          - AttributeName: RequestTimestamp
            AttributeType: "N"
        KeySchema:
          - AttributeName: UserId
            KeyType: HASH
          - AttributeName: RequestTimestamp
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TimeToLiveSpecification:
          AttributeName: ExpiresAt
          Enabled: true

    OpenAiResponses:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: OpenAiResponses
        AttributeDefinitions:
          - AttributeName: ResponseId
            AttributeType: S
        BillingMode: PAY_PER_REQUEST
        KeySchema:
          - AttributeName: ResponseId
            KeyType: HASH

    # Shared gateway
    Gateway:
      Type: AWS::ApiGatewayV2::Api
      Properties:
        Name: Gateway
        ProtocolType: HTTP
        DisableExecuteApiEndpoint: true
    GatewayStage:
      Type: AWS::ApiGatewayV2::Stage
      Properties:
        ApiId: !Ref Gateway
        StageName: prod
        AutoDeploy: true
    GatewayDomainMapping:
      Type: AWS::ApiGatewayV2::ApiMapping
      Properties:
        ApiId: !Ref Gateway
        DomainName: ${param:domainName}
        Stage: prod

    # authorizer resources
    UserPoolClient:
      Type: AWS::Cognito::UserPoolClient
      Properties:
        ReadAttributes:
          - custom:RequestQuotaValue
          - custom:RequestQuotaWindow
        RefreshTokenValidity: 365
        TokenValidityUnits:
          RefreshToken: days
        UserPoolId: !Ref UserPool
    UserPool:
      Type: AWS::Cognito::UserPool
      Properties:
        DeletionProtection: ACTIVE
        AccountRecoverySetting:
          RecoveryMechanisms:
            - Name: verified_email
              Priority: 1
        AdminCreateUserConfig:
          AllowAdminCreateUserOnly: true
          InviteMessageTemplate:
            EmailMessage: Your username is {username} and your temporary password is {####}
            EmailSubject: Welcome to Recipebase Recipe Importer
        EmailVerificationMessage: The verification code to your new account is {####}
        EmailVerificationSubject: Verify your new account
        VerificationMessageTemplate:
          DefaultEmailOption: CONFIRM_WITH_CODE
          EmailMessage: The verification code to your new account is {####}
          EmailSubject: Verify your new account
          EmailMessageByLink: Choose this link to {##verify your email##}
          EmailSubjectByLink: Your confirmation link
        UserPoolTier: LITE
        Schema:
          - AttributeDataType: Number
            Mutable: true
            Name: RequestQuotaValue
            NumberAttributeConstraints:
              MinValue: "1"
          - AttributeDataType: String
            Mutable: true
            Name: RequestQuotaWindow
      UpdateReplacePolicy: Retain
      DeletionPolicy: Retain
    ApiGatewayAuthorizer:
      Type: AWS::ApiGatewayV2::Authorizer
      Properties:
        AuthorizerResultTtlInSeconds: 0
        IdentitySource:
          - $request.header.Authorization
        Name: cognito-authorizer
        ApiId:
          Ref: Gateway
        AuthorizerType: JWT
        JwtConfiguration:
          Audience:
            - Ref: UserPoolClient
          Issuer:
            Fn::Join:
              - ""
              - - "https://cognito-idp."
                - "${opt:region, self:provider.region}"
                - ".amazonaws.com/"
                - Ref: UserPool

  Outputs:
    Gateway:
      Value: !Ref Gateway
    ProcessIngredientsStepFn:
      Value: !Ref ProcessIngredients
    ApiEndpoint:
      Value: !GetAtt Gateway.ApiEndpoint

plugins:
  - serverless-step-functions
  - serverless-domain-manager
