name: Deploy api

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-24.04-arm
    environment: Production
    concurrency:
      cancel-in-progress: true
      group: deploy-prod
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v5
      - name: Setup python for scripts
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install serverless
        run: npm ci
      - name: Install required serverless plugins
        run: python scripts/install-serverless-plugins.py
      - name: UV sync
        run: uv sync
      - name: Get user-pool template changes
        id: changes_user_pool
        uses: step-security/changed-files@v46
        with:
          files: |
            infra/user-pool/serverless.yml
      - name: Get permanent-resources template changes
        id: changes_permanent_resources
        uses: step-security/changed-files@v46
        with:
          files: |
            infra/permanent-resources/serverless.yml
      - name: Deploy user-pool
        if: steps.changes_user_pool.outputs.any_changed == 'true'
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        working-directory: infra/user-pool
        run: npx serverless deploy --verbose
      - name: Deploy permanent-resources
        if: steps.changes_permanent_resources.outputs.any_changed == 'true'
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
        working-directory: infra/permanent-resources
        run: npx serverless deploy --verbose
      - name: Serverless deploy
        id: sls_deploy
        env:
          SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
          DOMAIN_CERTIFICATE_ARN: ${{ secrets.DOMAIN_CERT_ARN }}
          AI_WEBHOOK_SECRET: ${{ secrets.AI_WEBHOOK_SECRET }}
          AI_API_KEY: ${{ secrets.AI_API_KEY }}
          SNS_ANDROID_PLATFORM_APPLICATION_ARN: ${{ secrets.SNS_ANDROID_PLATFORM_APPLICATION_ARN }}
        run: >
          set -x;
          npx serverless deploy \
            --param "recipeTTL=${{ vars.RECIPE_TTL }}" \
            --param "recipeReadyNotificationBody=${{ vars.RECIPE_READY_NOTIFICATION_BODY }}" \
            --param "recipeReadyNotificationTitle=${{ vars.RECIPE_READY_NOTIFICATION_TITLE }}" \
            --param "aiBaseUrl=${{ vars.AI_API_BASE_URL }}" \
            --param "promptIdPL=${{ vars.AI_PARSING_PROMPT_ID_PL }}" \
            --param "promptIdEN=${{ vars.AI_PARSING_PROMPT_ID_EN }}" \
            --param "maxAiParseRetryCount=${{ vars.MAX_AI_PARSE_RETRY_COUNT }}" \
            --param "domainName=${{ vars.DOMAIN_NAME }}" \
            --param "openapiBucketName=${{ vars.OPENAPI_BUCKET_NAME }}" \
            --param "aiModelName=${{ vars.AI_MODEL_NAME }}" \
            --param "recipeParsingFailedNotificationTitle=${{ vars.RECIPE_FAILED_NOTIFICATION_TITLE }}" \
            --param "recipeParsingFailedNotificationBody=${{ vars.RECIPE_FAILED_NOTIFICATION_BODY }}" \
            --verbose \
            2>&1 | tee deploy.log | grep -qs "Could not resolve provider.httpApi.id parameter" | true;

          deploy_exit=$PIPESTATUS[2];

          cat deploy.log;

          exit $deploy_exit;
